.about-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.about-item {
    backdrop-filter: blur(1px);
    background-color: 0;
    flex-grow: 1;
    margin: 5px;
}

.about-img-div {
    margin: 50px;
    float: left;
}

.about-img {
    height: 150px;
}

.about-img-text {
    text-align: center;
    color: white;
    font-family: 'Chicago', sans-serif;
}

.about-text {
    text-align: justify;
    color: whitesmoke;
    font-family: 'PixelOperatorMonoRegular', sans-serif !important;
    font-size: 16px;
    margin-right: 15px;
}

.about-a {
    color: HotPink;
}

.about-ul {
    overflow:auto;
    padding-left: 20px;
}

.about-h2 {
    color: white;
    font-family: 'Chicago', sans-serif;
    margin-top: 20px;
}

.about-h3 {
    color: white;
    font-family: 'Chicago', sans-serif;
}

#about-item-me {
    border: 2px solid orange;
    box-shadow: inset 0 1px 12px orangered;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

#about-item-neocities {
    border: 2px solid whitesmoke;
    box-shadow: inset 0 1px 12px Thistle;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}

#about-item-socials {
    border: 2px solid Violet;
    box-shadow: inset 0 1px 12px Orchid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
}

#about-item-interests {
    border: 2px solid Turquoise;
    box-shadow: inset 0 1px 12px MediumTurquoise;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
}

#pikachu-img {
    border: 2px whitesmoke solid;
    box-shadow: 0 1px 12px whitesmoke;
}

#kirby-img {
    border: 2px lightcyan solid;
    box-shadow: 0 1px 12px lightblue;
    max-height: 200px;
    max-width: 80%;
    height: auto;
    width: auto;
    margin: auto;
}

.social {
    text-align: center;
    margin: auto;
}

.social:hover {
    width: 50%;
}

.twitter {
    color:#00a9f1;
}
.instagram {
    color:#c100f1;
}
.youtube {
    color:orangered;
}
.lastfm {
    color:#d51007;
}
.github {
    color:#2f2f2f;
}
.email {
    color:#e4e725;
}

.scanlines {
    padding: 0;
}

@media screen and (max-width: 640px) {
    .about-div {
        margin: 40px;
    }

    .about-item {
        padding-bottom: 15px;
    }

    .about-h2 {
        margin-left: 15px;
    }

    .about-text {
        margin-left: 15px;
    }

    #about-item-me {
        grid-column-start: 1;
        grid-column-end: 7;
    }
    
    #about-item-neocities {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 5;
    }
    
    #about-item-socials {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 5;
        grid-row-end: 7;
    }
    
    #about-item-interests {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 7;
        grid-row-end: 9;
    }
}