.window#faculdade {
    width: 30%;
    margin: 0;
    top: 0%;
    left: 20%;
    z-index: 3;
    position: inherit;
}

.window#projetos {
    width: 40%;
    margin: -25% 0 0 0;
    left: 48.5%;
    z-index: 4;
    position: inherit;
}

.window#capivara {
    width: 20%;
    margin: -16% 0 0 0;
    left: 40%;
    z-index: 0;
    position: inherit;
}

.window#canal {
    width: 25%;
    margin: -15% 0 0 0;
    left: 13%;
    z-index: 2;
    position: inherit;
}

.window#artes {
    width: 30%;
    margin: -15.5% 0 0 0;
    left: 25%;
    z-index: 1;
    position: inherit;
}

@media screen and (max-width: 640px) {
    .title-bar-text {
        margin-right: 3px !important;
    }

    .window p {
        font-size: 11px !important;
    }

    .window#faculdade {
        width: 50%;
        margin: 0;
        top: 0%;
        left: 10%;
        z-index: 3;
        position: inherit;
    }
    
    .window#projetos {
        width: 35%;
        margin: -12% 0 0 0;
        left: 52%;
        z-index: 4;
        position: inherit;
    }
    
    .window#capivara {
        width: 20%;
        margin: -30% 0 0 0;
        left: 40%;
        z-index: 0;
        position: inherit;
    }
    
    .window#canal {
        width: 30%;
        margin: -35% 0 0 0;
        left: 13%;
        z-index: 2;
        position: inherit;
    }
    
    .window#artes {
        width: 35%;
        margin: -7% 0 0 0;
        left: 25%;
        z-index: 1;
        position: inherit;
    }
}