.album-div {
    display: flex;
    flex-wrap: wrap;
}

.album-item {
    backdrop-filter: blur(1px);
    background-color: 0;
    flex-grow: 1;
    flex-basis: 100%;
    flex: 1 0 40%;
    height: 50%;
    max-width: 50%;
    margin: 0;
    margin-top: 20px;
}

.album-titles {
    width: 46%;
    height: 100%;
    position: absolute;
    overflow: scroll;
    scrollbar-width: none;
}

.album-img {
    /* margin: 50px; */
    float: left;
    height: 100%;
    width: 50%;
    margin: auto;
}

.album-audio {
    position: absolute;
    bottom: 0%;
    width: 50%;
}

.album-genres {
    font-weight: bold;
    color: whitesmoke;
    font-family: 'PixelOperatorMonoRegular', sans-serif !important;
    font-size: 18px;
}

.album-text {
    /* text-align: justify; */
    color: whitesmoke;
    font-family: 'PixelOperatorMonoRegular', sans-serif !important;
    font-size: 14px;
    z-index: 99;
}

.album-a {
    color: HotPink;
}

.album-ul {
    overflow:auto;
    padding-left: 20px;
}

.album-h2 {
    color: white;
    font-family: 'Chicago', sans-serif;
    margin-top: 20px;
    font-size: 20px;
}

.album-h3 {
    color: white;
    font-family: 'Chicago', sans-serif;
    font-size: 18px;
}

.album-item:nth-child(odd) .album-img {
    float: left;
}

.album-item:nth-child(even) .album-img {
    float: right;
}

.album-item:nth-child(odd) .album-audio {
    left: 0;
}

.album-item:nth-child(even) .album-audio {
    right: 0;
}

.album-item:nth-child(odd) .album-titles {
    left: 54%;
    text-align: left;
    transform-origin: left;
}

.album-item:nth-child(even) .album-titles {
    right: 54%;
    text-align: right;
    transform-origin: right;
}

.album-item:nth-child(odd) .album-text {
    margin-right: 4%;
}

.album-item:nth-child(even) .album-text {
    margin-left: 4%;
}

.album-item:hover > .album-titles {
    animation: pulse 2s infinite;
}

.album-item:hover > .album-img {
    animation: lighten 2s infinite;
}

@keyframes pulse {
    0%,
    100% {
      animation-timing-function: ease-in;
    }
    50% {
      transform: scale(1.25);
    }
}


@keyframes lighten {
    0%,
    100% {
      animation-timing-function: ease-in;
    }
    50% {
        filter: brightness(150%);
    }
  }

@media screen and (max-width: 640px) {
    .album-item {
        backdrop-filter: blur(1px);
        background-color: 0;
        flex-grow: 1;
        flex-basis: 100%;
        flex: 1 0 90%;
        height: 50%;
        max-width: 100%;
        margin: 0;
        margin-top: 20px;
        /* border: 2px solid orange;
        box-shadow: inset 0 1px 12px orangered; */
    }
}