.album-div {
    display: flex;
    flex-wrap: wrap;
}

.album-item {
    backdrop-filter: blur(1px);
    background-color: 0;
    flex-grow: 1;
    flex-basis: 100%;
    flex: 1 0 40%;
    height: 50%;
    max-width: 50%;
    margin: 0;
    margin-top: 20px;
    /* border: 2px solid orange;
    box-shadow: inset 0 1px 12px orangered; */
}


.album-img {
    /* margin: 50px; */
    float: left;
    max-height: 100%;
    max-width: 50%;
    height: auto;
    width: auto;
    margin: auto;
}

.album-audio {
    position: absolute;
    bottom: 0%;
    width: 50%;
}

.album-img-text {
    text-align: center;
    color: white;
    font-family: 'Chicago', sans-serif;
}

.album-genres {
    text-align: justify;
    font-weight: bold;
    color: whitesmoke;
    font-family: 'PixelOperatorMonoRegular', sans-serif !important;
    font-size: 18px;
    margin-right: 15px;
}

.album-text {
    text-align: justify;
    color: whitesmoke;
    font-family: 'PixelOperatorMonoRegular', sans-serif !important;
    font-size: 14px;
    margin-right: 15px;
    margin-right: 15px;
    z-index: 99;
}

.album-a {
    color: HotPink;
}

.album-ul {
    overflow:auto;
    padding-left: 20px;
}

.album-h2 {
    text-align: left;
    color: white;
    font-family: 'Chicago', sans-serif;
    margin-top: 20px;
    font-size: 20px;
}

.album-h3 {
    color: white;
    font-family: 'Chicago', sans-serif;
    font-size: 18px;
}

.album-item:hover > .album-titles {
    animation: pulse 2s infinite;
}

.album-item:hover > .album-img {
    animation: lighten 2s infinite;
}

@keyframes pulse {
    0%,
    100% {
      animation-timing-function: ease-in;
    }
    50% {
      transform: scale(1.33);
    }
}


@keyframes lighten {
    0%,
    100% {
      animation-timing-function: ease-in;
    }
    50% {
        filter: brightness(150%);
    }
  }
