@font-face {
    font-family: Hypnoverse;
    src: url("./font/hypnoverse.ttf") format('truetype');
    font-style: normal;
}

.title-bar {
    background: linear-gradient(rgb(201, 224, 248) 0%, rgb(140, 144, 243) 50%);
}

h4.post {
    font-family: "Hypnoverse";
}

div.post {
    overflow: visible;
}

p.post {
    text-align: justify;
}

div.postbox:nth-child(odd) h4.post {
    margin-left: 15px;
    margin-right: 0px;
}

div.postbox:nth-child(odd) p.post {
    margin-left: 15px;
    margin-right: 0px;
}

div.postbox:nth-child(even) h4.post {
    margin-right: 40px;
    margin-left: 0px;
}

div.postbox:nth-child(even) p.post {
    margin-right: 40px;
    margin-left: 0px;
}

div.postbox:nth-child(odd) img.post, div.postbox:nth-child(odd) video.post {
    margin: auto auto auto -200px;
    top: 0;
    bottom: 0;
}

div.postbox:nth-child(even) img.post, div.postbox:nth-child(even) video.post {
    margin: auto auto auto -30px;
    top: 0;
    bottom: 0;
}

img.post, video.post {
    position: relative;
    -webkit-filter: drop-shadow(1px 1px 0 black)
                    drop-shadow(-1px -1px 0 black);
    filter: drop-shadow(1px 1px 0 black) 
            drop-shadow(-1px -1px 0 black);
    filter: drop-shadow(5px -5px 2px #6338ff);
    width: 200px;
    height: auto;
    margin: 0 0 -60px 0;
    z-index: 50;
}