@font-face {
    font-family: Hypnoverse;
    src: url("./font/hypnoverse.ttf") format('truetype');
    font-style: normal;
}

.title-bar {
    background: linear-gradient(rgb(201, 224, 248) 0%, rgb(140, 144, 243) 50%);
}

h1#links {
    /* font-family: 'Chicago'; */
    font-weight: bolder;
    color: transparent;
    display: block;
    text-align: center;
    font-family: "Russo One", sans-serif;
    letter-spacing: 0.05em;
    height: 100%;
    /* text-shadow: #FC0 1px 0 10px; */
    background: linear-gradient(
        #F7DF57 31%,
        #E26F68 31%,
        #E26F68 45%,
        #947AF4 45%,
        #947AF4 55%,
        #8FA1F4 55%,
        #8FA1F4 58%,
        #947AF4 58%,
        #947AF4 61%,
        #8FA1F4 61%
    );
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-stroke: 1px #000;
    filter: drop-shadow(1px 1px 1px #000);
}

.hypno-bg {
    image-rendering: pixelated;
    background-image: url("../img/hypno_bg4.png");
    filter: brightness(0.95) saturate(0.9);
    background-repeat: repeat;
    background-size: auto 100%;
    background-attachment: fixed;
    /* background-size: 100%; */
    z-index: -1;
    height: 100%;
    width: 100%;
}

h4.post {
    font-family: "Hypnoverse";
}

div.post {
    overflow: visible;
}

p.post {
    text-align: justify;
}

div.postbox:nth-child(odd) h4.post {
    margin-left: 15px;
}

div.postbox:nth-child(odd) p.post {
    margin-left: 15px;
}

div.postbox:nth-child(even) h4.post {
    margin-right: 40px;
}

div.postbox:nth-child(even) p.post {
    margin-right: 40px;
}

div.postbox:nth-child(odd) img.post {
    margin: auto auto auto -200px;
    top: 0;
    bottom: 0;
}

div.postbox:nth-child(even) img.post {
    margin: auto auto auto -30px;
    top: 0;
    bottom: 0;
}

img.post {
    position: relative;
    -webkit-filter: drop-shadow(1px 1px 0 black)
                    drop-shadow(-1px -1px 0 black);
    filter: drop-shadow(1px 1px 0 black) 
            drop-shadow(-1px -1px 0 black);
    filter: drop-shadow(5px -5px 2px #6338ff);
    width: 200px;
    height: auto;
    margin: 0 0 -60px 0;
    z-index: 50;
}