/* Font */

@font-face {
    font-family: Chicago;
    src: url("./font/chicago.ttf") format('truetype');
    font-style: normal;
}

@font-face {
    font-family: PixelOperatorMonoRegular;
    src: url("./font/pixel-operator-mono.ttf") format('truetype');
    font-style: normal;
}

.blurb li
/* , h2 */
{
    font-family: 'Chicago', sans-serif;
}
/* Site */

html {
	background: white url("../img/animspace.gif") repeat;
    /* height: 100%; */
    width: 100%;
}

body {
    margin: 0;
    font-size: 16px;
    width: 100%;
}

.body {
    margin: 0 auto auto;
    width: 70%;
}

.outline {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    border: 4px ridge;
    pointer-events: none;
}

.lista {
    font-size: 1.5em;
    line-height: 1.5em;
    color: #333;
}


.glitchbox li.lista {
    font-size: 1.5em;
    line-height: 1.5em;
    color: #333;
}

#wrapper {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px 7% 20px 7%;
    background: #fff8dc;
    box-shadow: 0 0 0 5px MidnightBlue inset;
    box-shadow: 4px 4px 0 #0000ff, 8px 8px 0 #00ffff, 12px 12px 0 #ff00ff;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /* height: 10%; */
    width: 20%;
}

.title {
    font-size: 2em;
    font-family: 'Chicago', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.texto {
    font-size: 1.5em;
    font-family: 'Chicago', sans-serif;
    text-align: center;
    font-weight: lighter;
}

.textinho {
    font-size: 1em;
    font-family: 'Chicago', sans-serif;
    text-align: center;
    font-weight: lighter;
}

li.lista {
	margin: 0;
	padding: 18px 0 18px 40px;
	list-style: none;
	background-image: url("../img/hand.gif");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px;
}


li.listinha {
    font-size: 1.5em;
    line-height: 1.5em;
    color: #333;
    margin-left: 1em;
    font-family: 'PixelOperatorMonoRegular';
}

p.lista {
    margin: 0 1em 1em 1em;
}

.construction {
    display:block;
    margin: 20px auto;
}

#options {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 15px;
    border: 2px solid white;
    border-radius: 2px;
    background-color: black;
    box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.7);
    z-index: 99;
    color: white;
    font-family: 'PixelOperatorMonoRegular';
    text-align: center;
}

#options p {
    margin: auto;
    font-size: 2em;
}

.langbutton {
    /* float: right; */
    margin: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
    border: 2px solid white;
    background: black;
    transition: 0.3s;
    /* width: 100px; */
    padding: 2px 5px;
    text-align: center; 
}

.langbutton:hover {
    cursor: pointer;
    background: white;
}

.langbutton a {
    text-decoration: none;
    color: white;
    font-size: 2em !important;
}

.langbutton a:hover {
    cursor: pointer;
    color: black;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.2em;
    display: inline;
    /* vertical-align: middle; */
}

/* Tabela de botões */

div.glitchbox-index {
    position: absolute;
    width: 25%;
    margin: 0.65% auto;
    margin-top: 2%;
    margin-bottom: 20px;
}

div.glitchbox-wrapper {
    box-shadow: 4px 4px 0 #0000ff, 8px 8px 0 #00ffff, 12px 12px 0 #ff00ff;
    border-radius: 2px;
    background-color: #fff8dc;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div.glitchbox-index#pagebutton {
    left: 35%;
    width: 10%;
    min-width: 120px;
    margin-top: 1%;
    height: max-content;
}

div.glitchbox-index#todo {
    left: 25%;
    width: 20%;
    min-width: 120px;
    margin-top: 10%;
    height: max-content;
}

div.glitchbox-index#buttons {
    right: 25%;
    height: max-content;
}

div.glitchbox-index#comments {
    margin-top: 2%;
    left: 12%;
    width: 30%;
    margin-bottom: 3%;
}

div.glitchcommentbox {
    max-height: 40vh;
    overflow: auto;
}

.afiliados {
    margin: auto;
    margin-bottom: 10px;
    font-size: 1.3em;
    font-family: 'Chicago', sans-serif;
    font-weight: lighter;
}

.buttons-table {
    background-color: transparent;
}

.buttons-table tr {
    display: flex;
    flex-wrap: wrap;
}

.buttons-table td {
    flex: 1;
    margin: 0 5px 50px 5px;
    width: 89px;
    overflow-wrap: normal;
    text-align: center;
    white-space: normal;
}

.button-name {
    font-family: 'Chicago', sans-serif;
    margin: auto;
    text-align: center;
    overflow-wrap: normal;
}

div a img {
    display: block;
    margin: auto;
}

@media screen and (max-width: 640px) {
    #welcome {
        width: 50%;
    }

    #wrapper {
        width: 90%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 10px 3% 10px 3%;
    }

    .title {
        font-size: 1.2em;
    }

    .texto {
        font-size: 1em;
    }
    
    .textinho {
        font-size: 0.7em;
    }

    div.glitchbox-index {
        position: relative;
    }

    div.glitchbox-index#pagebutton {
        left: 27%;
        right: 0;
        width: 30%;
        top: 50px;
        margin-top: 0;
    }

    div.glitchbox-index#todo {
        left: 0;
        right: 0;
        width: 80%;
        top: 70px;
    }

    div.glitchbox-index#buttons {
        right: 0;
        width: 80%;
        top: 100px;
    }
    
    div.glitchcommentbox {
        max-height: 70vh;
        overflow: auto;
    }

    .afiliados {
        margin: auto;
        margin-bottom: 10px;
        font-size: 0.9em;
    }

    body {
        padding-bottom: 300px;
    }
}

/* Links page */

h1.links-title {
    margin: 0;
    margin-bottom: 15px;

    mix-blend-mode: difference;

    text-transform: lowercase;
    font-family: 'Chicago', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 4em;
}

div.boxcontainer {
    display: flex;
    width: 50%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    transform: translateX(50%);
}

.boxcontainer > .glitchbox {
    flex: 0 0 90%;
    text-align: justify;
}

div.glitchbox {
    box-shadow: 4px 4px 0 #0000ff, 8px 8px 0 #00ffff, 12px 12px 0 #ff00ff;
    margin-bottom: 1.25%;
    border-radius: 2px;
    background-color: white;
    width: 50%;
    padding: 1%;
    margin: 0.65% auto;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (max-width: 640px) {
    h1.links-title {
        font-size: 2em;
    }

    div.boxcontainer {
        width: 90%;
        transform: translateX(5%);
    }
    
    div.glitchbox {
        box-shadow: 4px 4px 0 #0000ff, 8px 8px 0 #00ffff, 12px 12px 0 #ff00ff;
        margin-bottom: 1.25%;
        border-radius: 2px;
        width: 100%;
        padding: 2%;
        margin: 0.65% auto;
        margin-bottom: 20px;
    }
    
    .boxcontainer > .glitchbox {
        flex: 0 0 90%;
    }
}

/* Windows */

.window p {
    font-size: 13px;
    line-height: 13px;
}

/* Art */

h1.side-text:first-of-type {
    left: 3%;
    top: 50%;
    transform: translate(0, -50%) rotate(180deg);
}

h1.side-text:last-of-type {
    right: 3%;
    top: 50%;
    transform: translate(0, -50%);
}

h1.side-text {
    mix-blend-mode: difference;

    text-transform: lowercase;

    display: table;
    font-family: 'Chicago', sans-serif;
    position: fixed;
    color: rgb(255, 255, 255);
    writing-mode: tb-rl;

    font-size: 12vh;
    
    margin: 0;

    scroll-behavior: smooth;
    user-select: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

@media screen and (max-width: 640px) {
    h1.side-text {
        font-size: 4ch;
    }
}

.side-text > span {
    display: table-cell;
    text-align: center;
}

.art-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.art-column {
    flex: 33%;
    max-width: 33%;
    /* padding: 0 4px; */
}

h1.art-column-title {
    mix-blend-mode: difference;

    text-transform: lowercase;

    font-family: 'Chicago', sans-serif;
    color: rgb(255, 255, 255);

    font-size: 5.8vw;
    margin: 0 auto;
    text-align: center;
    
    scroll-behavior: smooth;
    user-select: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.art-window {
    margin: 6px;
}

.art-column img {
    margin-top: 8px;
    margin: 8px 4px 4px 4px;
    vertical-align: middle;
    width: 96%;
}