/* Font */

@font-face {
    font-family: Chicago;
    src: url("./font/chicago.ttf") format('truetype');
    font-style: normal;
}

.blurb li
/* , h2 */
{
    font-family: 'Chicago', sans-serif;
}
/* Site */

html {
	background: white url("../img/animspace.gif") repeat;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-size: 16px;
    width: 100%;
}

.body {
    margin: 0 auto auto;
    width: 70%;
}

.outline {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    border: 4px ridge;
    pointer-events: none;
}

li.lista {
    font-size: 1.5em;
    line-height: 0.4em;
    color: #333;
}

#wrapper {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px 7% 20px 7%;
    background: #fff8dc;
    box-shadow: 0 0 0 5px MidnightBlue inset;
    box-shadow: 4px 4px 0 #0000ff, 8px 8px 0 #00ffff, 12px 12px 0 #ff00ff;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /* height: 10%; */
    width: 20%;
}

.title {
    font-size: 2em;
    font-family: 'Chicago', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.texto {
    font-size: 1.5em;
    font-family: 'Chicago', sans-serif;
    text-align: center;
    font-weight: lighter;
}

.textinho {
    font-size: 1em;
    font-family: 'Chicago', sans-serif;
    text-align: center;
    font-weight: lighter;
}

li.lista {
	margin: 0;
	padding: 18px 0 18px 40px;
	list-style: none;
	background-image: url("../img/hand.gif");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px;
}

.construction {
    display:block;
    margin: 20px auto;
}

@media screen and (max-width: 640px) {
    #welcome {
        width: 50%;
    }

    #wrapper {
        width: 90%;
    }

    .title {
        font-size: 1.2em;
    }

    .texto {
        font-size: 1em;
    }
    
    .textinho {
        font-size: 0.7em;
    }
}

/* Links page */

h1.links-title {
    margin: 0;
    margin-bottom: 15px;

    mix-blend-mode: difference;

    text-transform: lowercase;
    font-family: 'Chicago', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 4em;
}

div.boxcontainer {
    display: flex;
    width: 50%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    transform: translateX(50%);
}

.boxcontainer > .glitchbox {
    flex: 0 0 47%;
    text-align: justify;
}

div.glitchbox {
    box-shadow: 4px 4px 0 #0000ff, 8px 8px 0 #00ffff, 12px 12px 0 #ff00ff;
    margin-bottom: 1.25%;
    border-radius: 2px;
    background-color: white;
    width: 50%;
    padding: 1%;
    margin: 0.65% auto;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (max-width: 640px) {
    h1.links-title {
        font-size: 2em;
    }

    div.boxcontainer {
        width: 90%;
        transform: translateX(5%);
    }
    
    div.glitchbox {
        box-shadow: 4px 4px 0 #0000ff, 8px 8px 0 #00ffff, 12px 12px 0 #ff00ff;
        margin-bottom: 1.25%;
        border-radius: 2px;
        width: 100%;
        padding: 2%;
        margin: 0.65% auto;
        margin-bottom: 20px;
    }
    
    .boxcontainer > .glitchbox {
        flex: 0 0 90%;
    }
}

/* Links */
html.links {
    background: #feeec4;
}

h1#links {
    color: rgb(0, 0, 0);
    text-align: center;
}

h3.post {
    margin: 0 0 10px 0;
}

a.post {
    font-family: 'Chicago', sans-serif;
    font-size: 0.9rem;
    color: black;
}

h4.post {
    margin: 0 0 10px 0;
    font-family: 'Chicago', sans-serif;
    font-size: 0.9rem;
    color: black;
}

p.post {
    margin: 0 0 0 0;
    font-family: 'Chicago', sans-serif;
    font-size: 0.7rem;
    line-height: 1.2em;
    color: black;
}

div.post {
    position: relative;
    margin: 0 0 40px 80px;
    padding: 1em;
    border: 1px solid black;
    background: #dbffff;
    box-shadow:5px 5px #38ffcc;
    z-index: 5;
}

div.postbox:nth-child(odd) div.post {
    margin: 0 0 40px 80px;
}

div.postbox:nth-child(even) div.post {
    margin: 0 80px 40px 0;
}

img.post {
    position: relative;
    -webkit-filter: drop-shadow(1px 1px 0 black)
                    drop-shadow(-1px -1px 0 black);
    filter: drop-shadow(1px 1px 0 black) 
            drop-shadow(-1px -1px 0 black);
    filter: drop-shadow(5px -5px 2px #6338ff);
    height: 200px;
    margin: 0 0 -60px 0;
    z-index: 1;
}

div.postbox:nth-child(odd) img.post {
    margin: 0 60px -30px 0;
}

div.postbox:nth-child(even) img.post {
    margin: 0 0 -30px 60px;
}

@media screen and (max-width: 640px) {
    img.post {
        -webkit-filter: drop-shadow(1px 1px 0 black)
                        drop-shadow(-1px -1px 0 black);
        filter: drop-shadow(1px 1px 0 black) 
                drop-shadow(-1px -1px 0 black);
        filter: drop-shadow(5px -5px 2px #6338ff);
        height: auto;
        width: 70%;
        margin: 0 0 -60px 0;
    }
    
    div.postbox:nth-child(odd) div.post {
        margin: 0 0 40px 10% !important;
        box-shadow:5px 5px #38ffcc;
        z-index: 5;
    }
    
    div.postbox:nth-child(even) div.post {
        margin: 0 10% 40px 0% !important;
        box-shadow:5px 5px #38ffcc;
        z-index: 5;
    }

    .body {
        width: 90%;
    }
}

/* Windows */

.window p {
    font-size: 13px;
    line-height: 13px;
}

/* Art */

h1.side-text:first-of-type {
    left: 3%;
    top: 50%;
    transform: translate(0, -50%) rotate(180deg);
}

h1.side-text:last-of-type {
    right: 3%;
    top: 50%;
    transform: translate(0, -50%);
}

h1.side-text {
    mix-blend-mode: difference;

    text-transform: lowercase;

    display: table;
    font-family: 'Chicago', sans-serif;
    position: fixed;
    color: rgb(255, 255, 255);
    writing-mode: tb-rl;

    font-size: 12vh;
    
    margin: 0;

    scroll-behavior: smooth;
    user-select: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

@media screen and (max-width: 640px) {
    h1.side-text {
        font-size: 4ch;
    }
}

.side-text > span {
    display: table-cell;
    text-align: center;
}

.art-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.art-column {
    flex: 33%;
    max-width: 33%;
    /* padding: 0 4px; */
}

.art-column img {
    margin-top: 8px;
    margin: 8px 4px 4px 4px;
    vertical-align: middle;
    width: 96%;
}