nav ul {
    margin: 0;
    margin-top: 40px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
    background: #3038d6;
    border: 4px ridge;
    padding: 4px 8px;
    box-shadow: 2px 2px 2px #333;
    font-family: 'Chicago', sans-serif;
}

nav a {
    text-decoration: none;
    color: #ffe8e9;
}

nav a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 640px) {
    nav ul {
        margin: auto;
        margin-top: 30px;
        font-size: 0.8em;
        font-weight: bold;
        text-align:center;
    }

    nav ul li {
        display: inline-block;
        margin: 0 4px;
        background: #3038d6;
        border: 3px ridge;
        padding: 2px 4px;
        box-shadow: 1px 1px 1px #333;
    }
}