
body {
    margin: 30px auto;
    width: 70%;
}

footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: auto;
    width: 70%;
    list-style: none;
    font-weight: bold;
    text-align:center;
}

nav ul li {
    justify-content: center;
    display: inline-block;
    margin: 5px 10px;
    background: #3038d6;
    border: 4px ridge;
    padding: 4px 8px;
    box-shadow: 2px 2px 2px #333;
}

nav a {
    text-decoration: none;
    color: #ffe8e9;
}

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #999;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p, li.lista {
    font-size: 1.5em;
    line-height: 0.4em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}