---
layout: gallery
title: Meus Álbums de 2023
permalink: /albums
---

<div class="blurb">

    <h1 class="side-text">
        <span>2</span>
        <span>0</span>
        <span>2</span>
        <span>3</span>
    </h1>

    <h1 class="art-column-title">albums de 2023</h1>

    <h1 class="side-text">
        <span>2</span>
        <span>0</span>
        <span>2</span>
        <span>3</span>
    </h1>

    <div class="art-row">
        <div class="art-column">
            {% assign album_images = site.static_files | where: "album", true %}
            {% for image in album_images %}{% assign loopindex = forloop.index | modulo: 3 %}{% if loopindex == 0 %}
            <img loading="lazy" src="{{ site.baseurl }}{{ image.path }}" alt="image" class="noise" />
            {% endif %}{% endfor %}
        </div>
        <div class="art-column">
            {% for image in album_images %}{% assign loopindex = forloop.index | modulo: 3 %}{% if loopindex == 1 %}
            <img loading="lazy" src="{{ site.baseurl }}{{ image.path }}" alt="image" class="noise" />
            {% endif %}{% endfor %}
        </div>
        <div class="art-column">
            {% for image in album_images %}{% assign loopindex = forloop.index | modulo: 3 %}{% if loopindex == 2 %}
            <img loading="lazy" src="{{ site.baseurl }}{{ image.path }}" alt="image" class="noise" />
            {% endif %}{% endfor %}
        </div>
    </div>
</div><!-- /.blurb -->

