---
layout: gallery
title: Arte - Ideias
permalink: /art/
---

<div class="blurb">

    <div class="art-row">
        <div class="art-column">
            {% for image in site.static_files %}
                {% if image.path contains 'art/col1' %}
                    <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                {% endif %}
            {% endfor %}
        </div>
        <div class="art-column">
            {% for image in site.static_files %}
                {% if image.path contains 'art/col2' %}
                    <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                {% endif %}
            {% endfor %}
        </div>
        <div class="art-column">
            {% for image in site.static_files %}
                {% if image.path contains 'art/col3' %}
                    <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div><!-- /.blurb -->

