---
layout: gallery
title: Drawings
permalink: /drawings
---

<div class="blurb">

    <h1 class="side-text">
        <span>d</span>
        <span>r</span>
        <span>a</span>
        <span>w</span>
        <span>i</span>
        <span>n</span>
        <span>g</span>
        <span>s</span>
    </h1>

    <h1 class="art-column-title">desenhos</h1>

    <h1 class="side-text">
        <span>d</span>
        <span>r</span>
        <span>a</span>
        <span>w</span>
        <span>i</span>
        <span>n</span>
        <span>g</span>
        <span>s</span>
    </h1>

    <div class="art-row">
        <div class="art-column">
            {% assign drawings = site.static_files | where: "drawings", true %}
            {% for image in drawings reversed %}{% assign loopindex = forloop.index | modulo: 3 %}{% if loopindex == 1 %}
            <img loading="lazy" src="{{ site.baseurl }}{{ image.path }}" alt="image" class="noise" />
            {% endif %}{% endfor %}
        </div>
        <div class="art-column">
            {% for image in drawings reversed %}{% assign loopindex = forloop.index | modulo: 3 %}{% if loopindex == 2 %}
            <img loading="lazy" src="{{ site.baseurl }}{{ image.path }}" alt="image" class="noise" />
            {% endif %}{% endfor %}
        </div>
        <div class="art-column">
            {% for image in drawings reversed %}{% assign loopindex = forloop.index | modulo: 3 %}{% if loopindex == 0 %}
            <img loading="lazy" src="{{ site.baseurl }}{{ image.path }}" alt="image" class="noise" />
            {% endif %}{% endfor %}
        </div>
    </div>
</div><!-- /.blurb -->

