---
layout: gallery_en
title: Edits
permalink: /edits_en/
---

<div class="blurb">

    <h1 class="side-text">
        <span>e</span>
        <span>d</span>
        <span>i</span>
        <span>t</span>
        <span>s</span>
    </h1>

    <h1 class="side-text">
        <span>e</span>
        <span>d</span>
        <span>i</span>
        <span>t</span>
        <span>s</span>
    </h1>

    <div class="art-row">
        <div class="art-column">
            {% for image in site.static_files %}
                {% if image.path contains 'edits/col1' %}
                    <img src="{{ site.baseurl }}{{ image.path }}" alt="image" class="noise" />
                {% endif %}
            {% endfor %}
        </div>
        <div class="art-column">
            {% for image in site.static_files %}
                {% if image.path contains 'edits/col2' %}
                    <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                {% endif %}
            {% endfor %}
        </div>
        <div class="art-column">
            {% for image in site.static_files %}
                {% if image.path contains 'edits/col3' %}
                    <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div><!-- /.blurb -->

