---
layout: gallery
title: Montagens
permalink: /edits/
---

<div class="blurb">

    <div class="art-row">
        <div class="art-column">
            {% for image in site.static_files %}
                {% if image.path contains 'edits/col1' %}
                    <img src="{{ site.baseurl }}{{ image.path }}" alt="image" class="noise" />
                {% endif %}
            {% endfor %}
        </div>
        <div class="art-column">
            {% for image in site.static_files %}
                {% if image.path contains 'edits/col2' %}
                    <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                {% endif %}
            {% endfor %}
        </div>
        <div class="art-column">
            {% for image in site.static_files %}
                {% if image.path contains 'edits/col3' %}
                    <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div><!-- /.blurb -->

