---
layout: linkstemp
title: Survivor
permalink: /survivor
ranking:
    - 18-tocantins
    - 37-DvG
    - 33-MvGX
    - 17-gabon
    - 16-micronesia
    - 28-cagayan
    - 8-all-stars
    - 9-vanuatu
    - 10-palau
    - 6-amazon
    - 13-cook
    - 15-china
    - 4-marquesas
    - 7-pearl
    - 12-panama
    - 11-guatemala
    - 2-australia
    - 1-borneo
    - 3-africa
---

<div class="blurb">
    {% assign survivor = site.survivorranking %}
    {% for season in page.ranking %}
        {% assign season_rank = forloop.index %}
        {% assign loopindex = forloop.index | modulo: 2 %}
        {% for post in survivor %}
            {% if season == post.slug %}
            <div class="postbox">
                <div class="post">
                    {% if loopindex == 1 %}
                    <div style="text-align: right">
                    {% else %}
                    <div style="text-align: left">
                    {% endif %}
                        <img loading="lazy" class="post" src={{post.img}} />
                    </div>
                    <a class="post">
                        <h4 class="post">{{ season_rank }} - {{ post.title }}</h4>
                        <p class="post" style="font-weight: bold;"><b>Dia Terminado: {{ post.day }}</b></p>
                        <p class="post">{{ post.text }}</p>
                    </a>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div><!-- /.blurb -->

