<head>
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<footer>
    <ul>
        <li><a target="_blank" class="email" href="mailto:bernardo.rcoutinho@gmail.com"><i class="fa fa-fw fa-2x fa-envelope"></i></a></li>
        <li><a target="_blank" class="github" href="https://github.com/Berbardo"><i class="fa fa-fw fa-2x fa-github"></i></a></li>
        <li><a target="_blank" class="youtube" href="https://www.youtube.com/channel/UCmEZbY9g3K56ioyr2thGVOQ"><i class="fa fa-fw fa-2x fa-youtube"></i></a></li>
        <li><a target="_blank" class="lastfm" href="https://www.last.fm/user/berbardo8"><i class="fa fa-fw fa-2x fa-lastfm-square"></i></a></li>
        <li><a target="_blank" class="instagram" href="https://www.instagram.com/bernardo_coutinho_"><i class="fa fa-fw fa-2x fa-instagram"></i></a></li>
        <li><a target="_blank" class="twitter" href="https://www.twitter.com/berbardo8"><i class="fa fa-fw fa-2x fa-twitter"></i></a></li>
    </ul>
    <br/>
</footer>
