<!DOCTYPE html>
<html lang="en">
<head>
    <!--Stylesheet-->
    <link rel="stylesheet" href="https://unpkg.com/98.css">
</head>
<div class="outline" style="position: fixed; z-index: 1000; top:0;"></div>
<div class="title-bar" style="width: 100%; margin: 0; border: 4px ridge; top:0; 
                            position: fixed; box-sizing: border-box; z-index: 999;">
    <div class="title-bar-text">Página do Berbardo</div>
    <div class="title-bar-controls">
        <button aria-label="Minimize"></button>
        <button aria-label="Maximize"></button>
        <button aria-label="Close"></button>
    </div>
</div>