{% capture drawings_top %}
2025-05-07-01-psychic-cat
2025-04-bug-08-surf
2025-04-bug-07-berbardo
2025-02-23-02-gay
2025-02-16-01-wooper
2025-02-12-01-hi
2025-01-01-02-dog
2024-12-29-01-oi
2024-10-12-04-cori
2024-10-12-02-black-swan
2024-10-11-02-cool-site
2024-10-10-01-great-day
2024-10-07-01-outer-wilds
2024-10-02-02-digimon
2024-10-02-01-squik-squik
2024-09-17-01-pinoquio
2024-09-14-01-cool-site
2024-09-11-02-cat
2024-09-11-01-pear
2024-09-09-01-chilchuck
2024-08-30-02-berubardo
2024-08-30-01-pikachu
2024-08-27-01-oi
2024-08-25-01-freddy
2024-08-21-01-cat
2024-08-18-01-seu-site
2024-08-17-02-skull
2024-08-17-01-oie
2024-08-16-03-sonic
2024-08-16-01-oiee
2024-08-09-04-harry-frog
2024-08-09-03-leobardo
2024-08-09-01-minhoga
2024-08-08-05-runas
2024-08-08-02-kirby
{% endcapture %}

{% assign drawings_top = drawings_top | strip | newline_to_br | strip_newlines | split: "<br />" %}

{% assign drawings = site.static_files | where: "drawings", true %}
<div class="drawing-container">
    <div class="drawing-container-scroll">
        {% assign drawings_is_odd = drawings_top.size | modulo: 2 %}
        {% for drawing in drawings_top %}
            {% for image in drawings reversed %}
                {% if drawing == image.basename %}
                <img loading="lazy" src="{{ site.baseurl }}{{ image.path }}" alt="image" class="drawings-img" />
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% if drawings_is_odd == 1 %}
        <img loading="lazy" src="" alt="image" class="drawings-img" style="opacity:0.0;filter:alpha(opacity=00);"/>
        {% endif %}
        {% for drawing in drawings_top %}
            {% for image in drawings reversed %}
                {% if drawing == image.basename %}
                <img loading="lazy" src="{{ site.baseurl }}{{ image.path }}" alt="image" class="drawings-img" />
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</div>