{% assign loopindex = forloop.index | modulo: 2 %}
<div class="postbox">
    {% if loopindex == 1 %}

    <div style="text-align: right">
        <img class="post" src={{post.img}} />
    </div>
    <a class="post" href={{ post.link }}>
        <div class="post">
            <h4 class="post">{{ post.day }} - {{ post.title }}</h4>
            <p class="post">{{ post.text }}</p>
        </div>
    </a>
    {% else %}
    <div style="text-align: left">
        <img class="post" src={{post.img}} />
    </div>
    <a class="post" href={{ post.link }}>
        <div class="post">
            <h4 class="post">{{ post.day }} - {{ post.title }}</h4>
            <p class="post">{{ post.text }}</p>
        </div>
    </a>
    {% endif %}
</div>