{% assign loopindex = forloop.index | modulo: 2 %}
<div class="postbox">
    {% assign next_index = site.concertlog.size | minus: forloop.index | minus:1 %}
    {% if next_index >= 0 %}
        {% assign next_post = site.concertlog[next_index] %}
    {% else %}
        {% assign next_post = post %}
    {% endif %}
    {% if loopindex == 0 %}
    <div style="text-align: right">
    {% else %}
    <div style="text-align: left">
    {% endif %}
        {% if post.link %}
        <iframe loading="lazy" class="concert" 
            src={{post.link}} frameborder="0" allowfullscreen
            allow="accelerometer clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        > </iframe>
        {% endif %}
        {% if post.video %}
        <video class="concert" src={{post.video}} controls>
            <source src={{post.video}} type="video/mp4">
        </video>
        {% endif %}
    </div>
    {% if (post.video-vertical or post.link-vertical) and (next_post.video-vertical or next_post.link-vertical) %}
    <div class="post concert" style="margin-bottom: 200px;">
    {% else %}
    <div class="post concert">
    {% endif %}
        {% if post.video-vertical %}
        <video class="concert-vertical" src={{post.video-vertical}} controls>
            <source src={{post.video}} type="video/mp4">
        </video>
        {% endif %}
        {% if post.link-vertical %}
        <iframe loading="lazy" class="concert-vertical"
            src={{post.link-vertical}} frameborder="0" allowfullscreen
            allow="accelerometer clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        > </iframe>
        {% endif %}
        {% if loopindex == 1 %}
        <div style="text-align: right">
        {% else %}
        <div style="text-align: left">
        {% endif %}
        {% if post.img %}
            <img loading="lazy" class="post" src={{post.img}} />
        {% endif %}
        </div>
        <h4 class="post">{{ post.day }} - {{ post.title }}</h4>
        <p class="post">{{ post.text }}</p>
    </div>
</div>