{% assign loopindex = forloop.index | modulo: 2 %}
<div class="postbox">
    <div class="post">
        {% if loopindex == 0 %}
        <div style="text-align: right;">
        {% else %}
        <div style="text-align: left;">
        {% endif %}
            {% if post.img %}
            <img loading="lazy" class="post" src={{post.img}} style="position:absolute"/>
            {% endif %}
        </div>
        <a class="post">
            <h4 class="post">{{ post.day }} - {{ post.title }}</h4>
            <p class="post">{{ post.text }}</p>
        </a>
    </div>
</div>