<!DOCTYPE html>
	<html class="links">
        <head>
            <!-- favicon -->
            <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" href="https://unpkg.com/98.css">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Russo%20One">
            <link rel="stylesheet" type="text/css" href="/css/main.css">
            
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
            <meta charset="utf-8" />
        </head>
        {% include bubbles.html %}
        {% include nav.html %}
        {% include hypno_bg.html %}
        <div class="body">

            <h1 id="links">{{ page.title }}</h1>
            
            {{ content }}
            
            {% include footer.html %}
        </div>
	</html>