<!DOCTYPE html>
	<html class="links">
        <head>
            <!-- favicon -->
            <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" href="https://unpkg.com/98.css">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Russo%20One">
            <link rel="stylesheet" type="text/css" href="/css/main.css">
            <link rel="stylesheet" type="text/css" href="/css/links.css">
            <link rel="stylesheet" type="text/css" href="/css/hypnospace.css">
            
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
            <meta charset="utf-8" />
        </head>
        {% include bubbles.html %}
        {% include nav.html %}
        {% include hypno_bg.html %}
        <div class="body">

            <h1 id="links">{{ page.title }}</h1>

            <div class="postbox">
                <div class="post post-blog">
                    <a class="post">
                        <h4 class="post">novo diario</h4>
                        <p class="post">
                            &ensp;&ensp;&ensp;&ensp;resolvi criar esse diário para catalogar os acontecimentos e meus pensamentos enquanto eu mantiver esse site.<br/>
                            vou deixar a página publicamente acessível no site, mas sem hyperlinks, ela é feita mais pra me organizar mesmo.<br/>
                            <br/>
                            os posts também não vão ser muito estruturados por esse motivo, é um snapshot da minha cabeça em cada dia<br/>
                            <br/>
                            não vou tentar pensar muito no que escrever, as ideias não vão estar muito organizadas, e provavelmente nem eu mesmo vou concordar com o que eu colocar aqui
                            <br/>
                            </p>
                    </a>
                </div>
            </div>
            
            {{ content }}
            
            {% include footer.html %}
        </div>
	</html>