<!DOCTYPE html>
	<html>
        <head>
            <!-- favicon -->
            <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" href="https://unpkg.com/98.css">
            <link rel="stylesheet" type="text/css" href="/css/main.css">
            
        </head>
        {% include overlay.html %}
        {% include rainbow.html content="pagina do bernardo" %}
        {% include nav.html %}
        <div class="body">
            <div id="wrapper">
                <body>

                    <div class="container">
                    
                    {{ content }}
                    
                    </div><!-- /.container -->
                    {% include footer.html %}
                </body>
            </div>
        </div>
	</html>