<!DOCTYPE html>
	<html>
        <head>
            <!-- favicon -->
            <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="/css/main.css">
            <link rel="stylesheet" type="text/css" href="/css/index_windows.css">
            <link rel="stylesheet" href="https://unpkg.com/98.css">
            <script src="https://unpkg.com/twemoji@latest/dist/twemoji.min.js" crossorigin="anonymous"></script>

            <script src="index.js"></script>

            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
            <meta charset="utf-8" />
        </head>
        {% include rainbow.html content="pagina do berbardo" %}
        {% include nav.html %}
        <div class="body">
            <body>
                <div id="wrapper">
        
                    <h1 class="title">Boas vindas ao meu site!</h1>
                
                    <p class="texto">Sinta-se a vontade para explorá-lo :]</p>
                    
                    <img loading="lazy" id="welcome" src="/img/welcome.webp" alt="Minha Figura" class="center">

                    {% include footer.html %}
                </div>

                    <div class="container">
                    
                    {{ content }}
                    
                    </div><!-- /.container -->
            </body>
        </div>

        <div class="glitchbox-index" id="pagebutton">
            <div class="glitchbox-wrapper">
                <h3 class="afiliados">Meu Botão</h3>
                <a href="https://berbardo.neocities.org/index.html">
                    <img loading="lazy" src="/img/buttons/bernardo.png" alt="">
                    <p class="button-name">Berbardo</p>
                </a>
            </div>
        </div>
        
        <div class="glitchbox-index" id="todo">
            <div class="glitchbox-wrapper">
                <h3 class="afiliados">to-do list</h3>
                <li class="listinha">atualizar página Sobre</li>
                <li class="listinha">adicionar mais botões</li>
            </div>
        </div>

        <div class="glitchbox-index" id="buttons">
            <div class="glitchbox-wrapper">
                <h3 class="afiliados">Outros Sites Bacanas</h3>
                <table class="buttons-table">
                <tbody>
                    <tr>
                        <td><a href="https://vinizinho.neocities.org/index.html" target="_blank">
                            <img loading="lazy" src="/img/buttons/vinizinho.png" alt="">
                            <p class="button-name">Vinizone</p>
                        </a></td>
                        <td><a href="https://saint-images.neocities.org/index.html" target="_blank">
                            <img loading="lazy" src="/img/buttons/saint-images.gif" alt="">
                            <p class="button-name">Saint-Images</p>
                        </a></td>
                        <td><a href="https://moonsbirdsmonsters.neocities.org/index.html" target="_blank">
                            <img loading="lazy" src="/img/buttons/buttonombm.gif" alt="">
                            <p class="button-name">OMBM</p>
                        </a></td>
                        <td><a href="https://submarine.neocities.org/" target="_blank">
                            <img loading="lazy" src="/img/buttons/submarine.png" alt="">
                            <p class="button-name">submarine</p>
                        </a></td>
                        <td><a href="https://chen157.neocities.org" target="_blank">
                            <img loading="lazy" src="/img/buttons/chen157.gif" alt="">
                            <p class="button-name">Chen157</p>
                        </a></td>
                        <td><a href="https://splattacks.neocities.org/" target="_blank">
                            <img loading="lazy" src="/img/buttons/splattacks.gif" alt="">
                            <p class="button-name">splattacks</p>
                        </a></td>
                        <td><a href="https://fi-do-manin.neocities.org/" target="_blank">
                            <img loading="lazy" src="/img/buttons/fi-do-manin.png" alt="">
                            <p class="button-name">fi-do-manin</p>
                        </a></td>
                        <td><a href="https://jutipia.neocities.org/" target="_blank">
                            <img loading="lazy" src="/img/buttons/jutipia.gif" alt="jutipia">
                            <p class="button-name">jutipia</p>
                        </a></td>
                        <td><a href="https://dorival.neocities.org" target="_blank">
                            <img loading="lazy" src="/img/buttons/dorival.gif" alt="">
                            <p class="button-name">Buteco do Dorival</p>
                        </a></td>
                        <td><a href="https://cadernodamanjericao.neocities.org/" target="_blank">
                            <img loading="lazy" src="/img/buttons/cadernodamanjericao.gif" alt="">
                            <p class="button-name">Caderno da Manjericão</p>
                        </a></td>
                        <td><a href="https://solflo.neocities.org/" target="_blank">
                            <img loading="lazy" src="/img/buttons/solflo.png" alt="">
                            <p class="button-name">sol's home</p>
                        </a></td>
                        <td><a href="https://evilfleurs.neocities.org/" target="_blank">
                            <img loading="lazy" src="/img/buttons/blinkie.gif" alt="">
                            <p class="button-name">evilfleurs</p>
                        </a></td>
                        <td><a href="https://bernachacities.neocities.org/" target="_blank">
                            <img loading="lazy" src="/img/buttons/bernachasitegif.gif" alt="">
                            <p class="button-name">bernacha's site and cafeteria</p>
                        </a></td>
                        <td><a href="https://syntheticat.neocities.org/" target="_blank">
                            <img loading="lazy" src="/img/buttons/giub.png" alt="">
                            <p class="button-name">giub's webzone</p>
                        </a></td>
                        <td><a href="https://abcthehuman.neocities.org/" target="_blank">
                            <img loading="lazy" src="/img/buttons/abc.gif" alt="">
                            <p class="button-name">abc the human</p>
                        </a></td>
                        <td><a href="https://catboo.neocities.org/" target="_blank">
                            <img loading="lazy" src="/img/buttons/catboo.webp" alt="">
                            <p class="button-name">catboo</p>
                        </a></td>
                        <td><a href="https://hnrikaster.neocities.org/" target="_blank">
                            <img loading="lazy" src="/img/buttons/button_rike.gif" alt="">
                            <p class="button-name">hnrikaster</p>
                        </a></td>
                        <td><a href="https://lauraluvbi.neocities.org/" target="_blank">
                            <img loading="lazy" src="/img/buttons/neocitieslaura.gif" alt="">
                            <p class="button-name">lauraluvbi</p>
                        </a></td>
                        <td><a href="https://littlecloud.neocities.org/" target="_blank">
                            <img loading="lazy" src="/img/buttons/lc1.png" alt="">
                            <p class="button-name">littlecloud</p>
                        </a></td>
                        <td><a href="https://planicie.neocities.org/" target="_blank">
                            <img loading="lazy" src="/img/buttons/planicie-button.gif" alt="">
                            <p class="button-name">planicie</p>
                        </a></td>
                        <td><a href="https://bruno-rubim.neocities.org/" target="_blank">
                            <img loading="lazy" src="/img/buttons/bruno-button.gif" alt="">
                            <p class="button-name">bruno-rubim</p>
                        </a></td>
                        <td><a href="https://skulldollar.neocities.org/" target="_blank">
                            <img loading="lazy" src="/img/buttons/skull.png" alt="">
                            <p class="button-name">skulldollar</p>
                        </a></td>
                        <td><a href="https://cyberstheb.neocities.org/" target="_blank">
                            <img loading="lazy" src="/img/buttons/cyberstheb.gif" alt="">
                            <p class="button-name">cyberstheb</p>
                        </a></td>
                    </tr>
                </tbody></table>
            </div>
            <br/>
        </div>

        <div class="glitchbox-index" id="guestbook">
            <div class="glitchbox-wrapper">
                <h3 class="afiliados">Deixe uma Mensagem!</h3>
                <iframe id="guestbook-frame" src="/guestbook" frameborder="no" scrolling="yes"></iframe>
            </div>
        </div>

        <div class="glitchbox-index" id="collage">
            <div class="glitchbox-wrapper">
                <h3 class="afiliados">Last.fm Mensal</h3>
                <img loading="lazy" loading="lazy" src="/img/collage.webp" width="100%" />
            </div>
        </div>

        <script>
            twemoji.parse(document.body,
                { base: 'https://cdn.jsdelivr.net/gh/twitter/twemoji@14.0.2/assets/' })
        </script>

	</html>