<!DOCTYPE html>
	<html>
        <head>
            <!-- favicon -->
            <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" href="https://unpkg.com/98.css">
            <link rel="stylesheet" type="text/css" href="/css/main.css">
            
            <meta charset="utf-8" />
        </head>
        {% include overlay.html %}
        {% include rainbow.html content="pagina do bernardo" %}
        {% include nav.html %}
        <div class="body">

            <br/>

            {{ content }}
                        
            {% include footer.html %}
        </div class="body">
	</html>