<!DOCTYPE html>
    <div id="overlay">
    </div>
	<html>
        <head>
            <!-- favicon -->
            <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="/css/main.css">
            
        </head>
            <body>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">Sobre</a></li>
                        <li><a href="/edits">Montagens</a></li>
                        <li><a href="/art">Galeria de Ideias</a></li>
                        <li><a href="/links">Links Interessantes</a></li>
                    </ul>
                </nav>


                <h1 id="gallery">{{ page.title }}</h1>
                
                {{ content }}
                
                <footer>
                    <ul>
                        <li><a href="mailto:bernardo.rcoutinho@usp.br">email</a></li>
                        <li><a href="https://github.com/Berbardo">github.com/Berbardo</a></li>
                    </ul>
                </footer>
            </body>
	</html>