<!DOCTYPE html>
    <div id="overlay-window">
    </div>
    {% include bubbles.html %}
	<html class="links">
        <head>
            <!-- favicon -->
            <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="/css/main.css">
            <link rel="stylesheet" type="text/css" href="/css/oldsite.css">
            
        </head>
            <body>
                {% include nav.html %}

                <h1 id="links">{{ page.title }}</h1>
                
                {{ content }}
                
                {% include footer.html %}
            </body>
	</html>