<!DOCTYPE html>
	<html>
        <head>
            <!-- favicon -->
            <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="/css/main.css">
            <link rel="stylesheet" type="text/css" href="/css/channel.css">
            <link rel="stylesheet" type="text/css" href="/css/scanlines.css">
            
        </head>
        <body>
            <ul class="scanlines">
            
            {{ content }}
            </ul>
            <div id="overlay-crt"></div>
            <a href="/"><img src="/img/back.png" class="back"></a>
            
        </body>
	</html>